# AWS credentials (local development)
# AWS_PROFILE=vc-knots
AWS_REGION=ap-northeast-1

# Issuer (default: start:issuer)
# BASE_URL=http://localhost:8081
# PORT=8081
# ISSUERS_TABLE_NAME=ResourcesStack-...
# NONCES_TABLE_NAME=ResourcesStack-...
# PRE_CODES_TABLE_NAME=ResourcesStack-...

# Authz (default: start:authz)
# BASE_URL=http://localhost:8082
# PORT=8082
# AUTH_SERVERS_TABLE_NAME=ResourcesStack-...
# PRE_CODES_TABLE_NAME=ResourcesStack-...

# Verifier (default: start:verifier)
# BASE_URL=http://localhost:8083
# PORT=8083
# VERIFIERS_TABLE_NAME=ResourcesStack-...
# REQUEST_OBJECTS_TABLE_NAME=ResourcesStack-...
# NONCES_TABLE_NAME=ResourcesStack-...
