BASE_URL=https://vcknots.example.com
PORT=8080

CERTIFICATE_PATH=../samples/certificate-openid-test/certificate_openid.pem
PRIVATE_KEY_PATH=../samples/certificate-openid-test/private_key_openid.pem

# When using Google, please specify the following environment variables.
GOOGLE_PROJECT_ID=<your-project-id-here>
GOOGLE_PROJECT_LOCATION=<your-project-location-here>
FIREBASE_PRIVATE_KEY=<firebase-admin-service-account-private-key-here>
FIREBASE_CLIENT_EMAIL=<firebase-admin-client-email-here>
FIRESTORE_DATABASE_ID=<firestore-database-id-here>
# if not specified, the (default) is used.
SECRET_MANAGER_PRIVATE_KEY=<secret-manager-service-account-private-key-here>
SECRET_MANAGER_CLIENT_EMAIL=<secret-manager-client-email-here>
# --- google end ---
